@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Make the track transparent */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #222; /* Dark black color for the thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
    border: 3px solid #333; /* Border for better visibility */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #444; /* Slightly lighter black on hover */
  }
  